<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint id="resultado"
		implementor="com.chuidiang.ejemplos.cxf.Resultado" address="/Resultado">
		      <jaxws:features>
            <wsa:addressing xmlns:wsa="http://cxf.apache.org/ws/addressing" />
        </jaxws:features>
		
	</jaxws:endpoint>
		
	<jaxws:endpoint id="calculadora"
		implementor="com.chuidiang.ejemplos.cxf.CalculadoraImpl" address="/Calculadora">
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor">
				<property name="prettyLogging" value="true" />
			</bean>
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor">
				<property name="prettyLogging" value="true" />
			</bean>
		</jaxws:outInterceptors>
		
		<jaxws:features>
			<wsa:addressing xmlns:wsa="http://cxf.apache.org/ws/addressing" />
		</jaxws:features>
		
	</jaxws:endpoint>

</beans>
